.about{

padding:80px;

}

.about-hero{

text-align:center;

padding:100px;

background:
linear-gradient(
135deg,
#eef4ff,
#f4ecff
);

border-radius:30px;

}

.about-hero h1{

font-size:60px;

margin-bottom:20px;

}

.about-hero p{

font-size:22px;

color:#666;

}

.about-grid{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:40px;

margin-top:80px;

}

.card{

background:white;

padding:50px;

border-radius:20px;

box-shadow:
0 10px 30px
rgba(
0,
0,
0,
0.08
);

}

.team{

margin-top:100px;

text-align:center;

}

.team-box{

display:flex;

gap:30px;

justify-content:center;

margin-top:40px;

}

.team-box div{

padding:40px;

background:#3658ff;

color:white;

border-radius:20px;

}