.interviews-page{

padding:50px;

background:#f6f8fc;

min-height:100vh;

font-family:Arial;

}

.interviews-page h1{

font-size:38px;

margin-bottom:30px;

color:#111827;

}

table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:16px;

overflow:hidden;

box-shadow:0 8px 25px rgba(0,0,0,0.08);

}

thead{

background:#4f46e5;

color:white;

}

th,td{

padding:16px;

text-align:left;

border-bottom:1px solid #eee;

}

tr:hover{

background:#f1f5f9;

}

a{

color:#2563eb;

font-weight:600;

text-decoration:none;

}