.manage{

padding:60px;

background:#f7f9fc;

min-height:100vh;

}

.manage h1{

font-size:42px;

margin-bottom:40px;

}

.box{

background:white;

padding:30px;

margin-bottom:25px;

border-radius:22px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:

0 10px 25px
rgba(
0,
0,
0,
0.08
);

transition:.3s;

}

.box:hover{

transform:
translateY(-4px);

}

.box h3{

font-size:22px;

margin-bottom:8px;

}

.box p{

color:#666;

}

.box button{

padding:12px 22px;

background:#3658ff;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.box button:hover{

background:#2646dd;

}

@media(max-width:768px){

.box{

flex-direction:column;

gap:20px;

align-items:flex-start;

}

}