.recruiter{

display:flex;

min-height:100vh;

}

.left{

width:250px;

background:#111827;

color:white;

padding:40px;

}

.left ul{

list-style:none;

}

.left li{

padding:20px;

cursor:pointer;

}

.right{

flex:1;

padding:50px;

}

.cards{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:20px;

}

.cards div{

background:white;

padding:40px;

border-radius:20px;

}