.track{

padding:80px;

text-align:center;

}

.track h1{

font-size:60px;

}

.track p{

margin-top:20px;

font-size:22px;

color:#666;

}

.job-grid{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:30px;

margin-top:60px;

}

.job-card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:
0 10px 25px
rgba(
0,
0,
0,
0.08
);

transition:.3s;

}

.job-card:hover{

transform:
translateY(-8px);

}

.job-card span{

display:inline-block;

margin-top:20px;

padding:10px 20px;

background:#3658ff;

color:white;

border-radius:30px;

}